{% extends 'polls/base.html' %}
{% block content %}
<h1>New Question</h1>

<form action="" method="POST">
  {% csrf_token %} {% for field in q_form %} 
    {{ field.label_tag }} {{ field }} 
  {% endfor %}<br>

  Choice: <input type="text" name="choice1" id="">
  Choice: <input type="text" name="choice2" id="">
  Choice:<input type="text" name="choice3" id="">
  Choice:<input type="text" name="choice4" id="">
  
   <input type="submit" value="Create Question" />
    <a href="{% url 'polls:index' %}">Cancel</a>

</form> 
{% endblock %}